<h1> Details</h1>
<p>
	<strong>name:</strong>
	<%= @cards.name %>

</p>

<p>
	<strong>category:</strong>
	<%= @cards.category %>
</p>
<p>
	<strong>industry:</strong>
	<%= @cards.industry %>
</p>
<p>
	<%= link_to "back",cards_path %>
</p>